#Shapka {
    width: 100%;
    /* height: 35px; */
    height: 60px;
    background-color: #ffffff;
    position: relative;
    /* padding: 15px 20px 10px 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 100%;
    /* padding-left: 60px;
    padding-right: 60px;
    padding-top: 32px;
    padding-bottom: 60px; */
    padding: 32px 60px 60px 60px;
}
#BP {
    Width: 34px;
    Height: 34px;
    Border: 0.97px solid #3D9AFF;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 17px;
}
#KtoTy {
    position: relative;
    bottom: 30px;
    left: 45px;
}
#KtoTyTXT {
    font-size: 12px;
    position: relative;
}
#KtoTyTXT1 {
    font-size: 12px;
    position: relative;
    color: #8B8B8B;
}
#Sp {
    color: #8B8B8B;
}
#Di {
    width: 183px;
    height: 35px;
    position: relative;
}
#Dii {
    display: none;
}
#Cl1 {
    width: 72px;
    height: 35px;
    border-radius: 17.5px;
    /* border: 1px solid #8B8B8B; */
    color: #ffffff;
    background-color: #3D9AFF;
    font-size: 14px;
}
#Cl2 {
    width: 72px;
    height: 35px;
    border-radius: 17.5px;
    border: 1px solid #8B8B8B;
    color: #8B8B8B;
    font-size: 14px;
}
#Img3 {
    position: relative;
    top: 2px;
}
#DiiPC1 {
    border: 1px solid #8B8B8B;
    color: #8B8B8B;
    font-size: 14px;
    width: 84px;
    height: 41px;
    border-radius: 20.5px;
}
#Osn {
    height: 562px;
    /* width: 335px; */
    width: 100%;
    /* background-color: blueviolet; */
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 32px;
}
#Osn1 {
    /* width: 413px; */
    width: 32%;
    height: 343px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#Osn2 {
    /* margin-left: 20px; */
    width: 32%;
    /* width: 414px; */
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#Osn3 {
    /* margin-left: 20px; */
    width: 32%;
    /* width: 413px; */
    height: 562px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#Tab1 {
    position: relative;
    /* width: 413px; */
    width: 100%;
    height: 173px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0px 25px 25px 25px;
    background-color: #1170DC;
    background: linear-gradient(to right,#3D9AFF, 10%,#1170DC);
}
#Txt {
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: white;
}
#Tabl1 {
    /* width: 413px; */
    position: relative;
    width: 100%;
    height: 173px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0px 25px 25px 25px;
    background: linear-gradient(to right bottom,#FFD600 ,#FF6534);
}
#Tablica1 {
    position: relative;
    /* width: 413px; */
    width: 100%;
    height: 173px;
    border-radius: 0px 25px 25px 25px;
    background: linear-gradient(to right bottom,#A57AFF ,#8205FF);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#Tab2 {
    /* width: 413px; */
    width: 100%;
    height: 150px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.m2 {
    position: relative;
    top: 10px;
    left: 20px;
    color: black;
    font-size: 14px;
}
.m1 {
    position: absolute;
    bottom: 0px;
    right: -5px;
}
#txt3 {
    width: 85px;
}
#Hre2 {
    /* width: 200px; */
    position: relative;
    width: 50%;
    height: 150px;
    border-radius: 0px 25px 25px 25px;
    border: 1px solid #DDE2E4;
}
#Hh {
    /* width: 212px; */
    width: 49%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#Hre3 {
    position: relative;
    /* width: 212px; */
    width: 100%;
    height: 75px;
    border-radius: 0px 25px 25px 25px;
    border: 1px solid #DDE2E4;
}
#Hre4 {
    position: relative;
    /* width: 212px; */
    width: 100%;
    height: 75px;
    border-radius: 0px 25px 25px 25px;
    border: 1px solid #DDE2E4;
}
#Tabl2 {
    width: 100%;
    height: 277px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#Pu1 {
    width: 100%;
    height: 136px;
    border-radius: 25px;
    border: 1px solid #DDE2E4;
}
#Pu12 {
    width: 100%;
    height: 136px;
    border-radius: 25px;
    border: 1px solid #DDE2E4;
}
#Tablica2 {
    height: 369px;
    width: 100%;
}
#M2 {
    position: relative;
    bottom: 15px;
}
#M3 {
    position: relative;
    bottom: 30px;
}
#M4 {
    position: relative;
    bottom: 45px;
}
#M5 {
    position: relative;
    bottom: 60px;
}
.Naz {
    position: relative;
    left: 20px;
    font-size: 14px;
}
.Cr {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #8B8B8B;
    right: 20px;
}
.M {
    width: 100%;
    height: 85.8px;
    background-color: #ffffff;
    border: 1px solid #DDE2E4;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#Obertka {
    position: relative;
    top: 70px;
    left: 20px;
    display: flex;
    flex-direction: row;
}
.Dost {
    width: 49px;
    height: 49px;
    z-index: 2;
}
#Dost2 {
    position: relative;
    right: 5px;
}
#Dost3 {
    position: relative;
    right: 10px;
}
#Dost4 {
    position: relative;
    right: 15px;
}
#Dost5 {
    position: relative;
    right: 20px;
}
#Nazv {
    position: relative;
    top: 20px;
    left: 20px;
    color: #ffffff;
    font-size: 24px;
}
#Nz {
    font-size: 10px;
    position: relative;
    top: 30px;
    left: 20px;
    color: white;
}

#Pu1 {
    width: 100%;
    height: 138px;
    border: 1px solid #DDE2E4;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#t1 {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
#Tex1 {
    position: relative;
    font-size: 14px;
    top: 20px;
    left: 20px;
}
#Kn {
    position: relative;
    bottom: 20px;
    left: 20px;
    width: 82px;
    height: 59px;
    background: linear-gradient(to right bottom,#FFD600 ,#FF6534);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#eh {
    position: relative;
    bottom: 2.5px;
    right: 1px;
    width: 42px;
    height: 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#HZ1 {
    font-size: 24px;
    color: #ffffff;
}
#HZ2 {
    position: relative;
    font-size: 12px;
    color: #ffffff;
    left: 1px;
}
#Kn1 {
    position: relative;
    bottom: 20px;
    left: 20px;
    width: 110px;
    height: 59px;
    background: linear-gradient(to right bottom,#FFD600 ,#FF6534);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}
#eh1 {
    position: relative;
    bottom: 2.5px;
    right: 10px;
    width: 50px;
    height: 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#HZ11 {
    font-size: 24px;
    color: #ffffff;
}
#HZ21 {
    position: relative;
    font-size: 12px;
    color: #ffffff;
    left: 1px;
}
#HZ31 {
    font-size: 10px;
    width: 27px;
    position: relative;
    top: 8px;
    color: #ffffff;
    margin-left: 5px;
}
#img1 {
    position: relative;
    top: 5px;
}
#eg2 {
    position: relative;
    left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




#Pu12 {
    margin-top: 5px;
    width: 100%;
    height: 138px;
    border: 1px solid #DDE2E4;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#t12 {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
#Tex12 {
    position: relative;
    font-size: 14px;
    top: 20px;
    left: 20px;
}
#Kn2 {
    position: relative;
    bottom: 20px;
    left: 20px;
    width: 82px;
    height: 59px;
    background: linear-gradient(to right bottom,#FFD600 ,#FF6534);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#eh2 {
    position: relative;
    bottom: 2.5px;
    right: 1px;
    width: 42px;
    height: 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#HZ12 {
    font-size: 24px;
    color: #ffffff;
}
#HZ22 {
    position: relative;
    font-size: 12px;
    color: #ffffff;
    left: 1px;
}
#Kn12 {
    position: relative;
    bottom: 20px;
    left: 20px;
    width: 110px;
    height: 59px;
    background: linear-gradient(to right bottom,#FFD600 ,#FF6534);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}
#eh12 {
    position: relative;
    bottom: 2.5px;
    right: 10px;
    width: 50px;
    height: 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#HZ112 {
    font-size: 24px;
    color: #ffffff;
}
#HZ212 {
    position: relative;
    font-size: 12px;
    color: #ffffff;
    left: 1px;
}
#HZ312 {
    font-size: 10px;
    width: 27px;
    position: relative;
    top: 8px;
    color: #ffffff;
    margin-left: 5px;
}
#img12 {
    transform: rotate(180deg);
    position: relative;
    bottom: 5px;
}
#eg22 {
    position: relative;
    left: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



#TT2 {
    position: relative;
    width: 273px;
    height: 34px;
    /* top: 99px; */
    left: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#t {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
#Poz1 {
    position: relative;
    width: 126px;
    height: 34px;
    border: 1px solid white;
    border-radius: 17px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
#Te1 {
    position: relative;
    font-size: 10px;
    color: #ffffff;
    left: 10px;
    bottom: 1px;
}
#Kr {
    background-color: #ffffff;
    width: 33px;
    height: 34px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Cf1 {
    position: relative;
    color: #FE971C;
    font-size: 12px;
    left: 0.5px;
}
#TT1 {
    position: relative;
    width: 161px;
    height: 69px;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#T22 {
    font-size: 10px;
    color: #ffffff;
    width: 300px;
    position: relative;
    bottom: 10px;
    z-index: 2;
}
#T2 {
    display: none;
}
#T1 {
    font-size: 40px;
    color: #ffffff;
}

#Poz2 {
    position: relative;
    width: 142px;
    height: 34px;
    border: 1px solid white;
    border-radius: 17px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
}
#Te2 {
    position: relative;
    font-size: 10px;
    color: #ffffff;
    left: 10px;
    bottom: 1px;
}
#Kr1 {
    background-color: #ffffff;
    width: 33px;
    height: 34px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Cf2 {
    position: relative;
    color: #FE971C;
    font-size: 12px;
    left: 0.5px;
}
#K1 {
    width: 150px;
    height: 120px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 0px 0px 25px 0px;
}
#K2 {
    width: 130px;
    height: 120px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 0px 0px 25px 0px;
}
#K3 {
    width: 135px;
    height: 120px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 0px 0px 25px 0px;
}
#Kk1 {
    background: linear-gradient(to right bottom,#ffffff00,#ffffff75);
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 65px;
    z-index: 2;
}
#Kk2 {
    background: linear-gradient(to right bottom,#ffffff00,#ffffff75);
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 15px;
    z-index: 2;
}
#Kk3 {
    background: linear-gradient(to bottom,#ffffff20,#ffffff75);
    height: 100%;
    width: 1px;
    z-index: 2;
    position: absolute;
    right: 70px;
}
#Kk4 {
    background: linear-gradient(to bottom,#ffffff20,#ffffff75);
    height: 100%;
    width: 1px;
    z-index: 2;
    position: absolute;
    right: 20px;
}
#Kf1 {
    background: linear-gradient(to right bottom,#ffffff00,#ffffff70);
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 65px;
    z-index: 0;
}
#Kf2 {
    background: linear-gradient(to right bottom,#ffffff00,#ffffff70);
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 15px;
    z-index: 0;
}
#Kf3 {
    background: linear-gradient(to bottom,#ffffff30,#ffffff);
    height: 100%;
    width: 1px;
    z-index: 2;
    position: absolute;
    right: 70px;
    z-index: 0;
}
#Kf4 {
    background: linear-gradient(to bottom,#ffffff30,#ffffff);
    height: 100%;
    width: 1px;
    z-index: 2;
    position: absolute;
    right: 20px;
    z-index: 0;
}

#Ky1 {
    background: linear-gradient(to right bottom,#ffffff00,#ffffff70);
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 65px;
    z-index: 0;
}
#Ky2 {
    background: linear-gradient(to right bottom,#ffffff00,#ffffff70);
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 15px;
    z-index: 0;
}
#Ky3 {
    background: linear-gradient(to bottom,#ffffff30,#ffffff);
    height: 100%;
    width: 1px;
    z-index: 2;
    position: absolute;
    right: 70px;
    z-index: 0;
}
#Ky4 {
    background: linear-gradient(to bottom,#ffffff30,#ffffff);
    height: 100%;
    width: 1px;
    z-index: 2;
    position: absolute;
    right: 20px;
    z-index: 0;
}
#Kar1 {
    display: none;
}
#K1T {
    display: none;
}
#K3T {
    display: none;
}
#Otst1 {
    display: none;
}
#Otst2 {
    display: none;
}
#Otst3 {
    display: none;
}