
/* #Shapka {
    width: 335px;
    height: 60px;
    background-color: aquamarine;
    position: relative;
} */
#Shapka {
    width: 100%;
    /* height: 35px; */
    /* height: 90px; */
    background-color: aquamarine;
    position: relative;
    padding: 15px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

#Osn {
    height: 1395px;
    /* width: 335px; */
    width: 100%;
    /* background-color: blueviolet; */
    position: relative;
    padding: 20px 20px 30px 20px;
}

#BP {
    Width: 34px;
    Height: 34px;
    Border: 0.97px solid #3D9AFF;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 17px;
}

#KtoTy {
    position: relative;
    bottom: 30px;
    left: 45px;
}
#KtoTyTXT {
    font-size: 12px;
    position: relative;
}
#KtoTyTXT1 {
    font-size: 12px;
    position: relative;
    color: #8B8B8B;
}
#Sp {
    color: #8B8B8B;
}
#Di {
    width: 183px;
    height: 35px;
    position: relative;
}
#Dii {
    position: relative;
    width: 117px;
    height: 34px;
    /* left: 225px;
    bottom: 38px; */
}
#NG {
    /* right: 0px;
    position: relative; */
    font-size: 14px;
    color: #8B8B8B;
}
#NG1 {
    font-size: 14px;
    color: #8B8B8B;
}
#BV {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #8B8B8B;
    border-radius: 17px;
    width: 78px;
    height: 34px;
    position: relative;
}
.Vn {
    position: relative;
    left: 5px;
}
#menu {
    position: relative;
    border: 1px solid #8B8B8B;
    border-radius: 17px;
    height: 34px;
    width: 34px;
    left: 84px;
    bottom: 34px;
    background-color: rgba(0, 0, 0, 0);
}
#Menuu {
    position: relative;
    /* right: 7px; */
    height: 34px;
    width: 34px;
    bottom: 1px;
}
#FS1 {
    display: none;
    position: relative;
}
#FS {
    display: block;
    position: relative;
}
#BVv {
    display: none;
    position: relative;
    width: 76px;
    height: 35px;
    bottom: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #8B8B8B;
    border-radius: 17px;
    justify-content: center;
    align-items: center;
}
#imgBP {
    position: relative;
    top: 3px;
}